[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
    url = https://github.com/MooreThreads/tvm_musa
[submodule "3rdparty/mutlass"]
	path = 3rdparty/mutlass
	url = https://github.com/MooreThreads/mutlass
